<div class="place-content-center">
  <label class="block cursor-pointer peer-checked:bg-blue-500">
    <%= f.radio_button :favorite_social_network, "telegram", class: "peer hidden" %>
    <%= render 'pages/components/svg/social_networks/telegram' %>
  </label>
</div>

<div class="text-center">
  <%= button_tag type: "button", class: "place-content-center px-2 py-1 border-2 transition-all focus:outline-none #{'border-yellow-500 bg-form-green' if @beta_tester.favorite_social_network == 'twitter'}" do %>
    <%= render "pages/components/svg/social_networks/twitter" %>
    <span class="sr-only">Twitter</span>
  <% end %>
</div>

<div class="text-center">
  <%= button_tag type: "button", class: "place-content-center px-2 py-1 border-2 transition-all focus:outline-none #{'border-yellow-500 bg-form-green' if @beta_tester.favorite_social_network == 'instagram'}" do %>
    <%= render "pages/components/svg/social_networks/instagram" %>
    <span class="sr-only">Instagram</span>
  <% end %>
</div>

<div class="text-center">
  <%= button_tag type: "button", class: "place-content-center px-2 py-1 border-2 transition-all focus:outline-none #{'border-yellow-500 bg-form-green' if @beta_tester.favorite_social_network == 'snapchat'}" do %>
    <%= render "pages/components/svg/social_networks/snapchat" %>
    <span class="sr-only">Snapchat</span>
  <% end %>
</div>

<div class="text-center">
  <%= button_tag type: "button", class: "place-content-center px-2 py-1 border-2 transition-all focus:outline-none #{'border-yellow-500 bg-form-green' if @beta_tester.favorite_social_network == 'telegram'}" do %>
    <%= render "pages/components/svg/social_networks/telegram" %>
    <span class="sr-only">Telegram</span>
  <% end %>
</div>

<div class="text-center">
  <%= button_tag type: "button", class: "place-content-center px-2 py-1 border-2 transition-all focus:outline-none #{'border-yellow-500 bg-form-green' if @beta_tester.favorite_social_network == 'whatsapp'}" do %>
    <%= render "pages/components/svg/social_networks/whatsapp" %>
    <span class="sr-only">WhatsApp</span>
  <% end %>
</div>
