<h1 class="text-3xl text-center text-white my-8">
  Créer une partie de foot
</h1>

<main class="max-w-4xl mx-auto p-4">
  <%= form_for @event, html: { class: "space-y-4" } do |f| %>
    <div>
      <%= f.label :title, "Titre", class: "block text-indigo-100/80 mb-2" %>
      <%= f.text_field :title, class: "form-text-input", placeholder: "Foot à Frais Vallon", required: true %>
    </div>

    <div>
      <%= f.label :location, "Lieu", class: "block text-indigo-100/80 mb-2" %>
      <%= f.text_field :location, class: "form-text-input", placeholder: "Stade de France", required: true %>
    </div>

    <div>
      <%= f.label :start_time, "Date et Heure de début", class: "block text-indigo-100/80 mb-2" %>
      <%= f.datetime_field :start_time, class: "form-text-input", value: 1.day.from_now.change(hour: 20, min: 0), required: true %>
    </div>

    <div>
      <%= f.label :number_of_participants, "Nombre de participants", class: "block text-indigo-100/80 mb-2" %>
      <%= f.number_field :number_of_participants,
            class: "form-text-input",
            placeholder: "10",
            step: 1,
            required: true %>
    </div>


    <div>
      <%= f.label :price, "Prix", class: "block text-indigo-100/80 mb-2" %>
      <%= f.number_field :price, class: "form-text-input", step: 0.01, placeholder: "10.00", min: 0, required: true %>
    </div>

    <div>
      <%= f.label :description, "Description", class: "block text-indigo-100/80 mb-2" %>
      <%= f.text_area :description, class: "form-text-input", placeholder: "Isaac ramène ton ballon" %>
    </div>

    <div>
      <%= f.label :is_private, "Événement privé", class: "block text-indigo-100/80 mb-2" %>
      <%= f.check_box :is_private, class: "form-checkbox" %>
    </div>

    <div class="mt-6 flex justify-between">
      <%= link_to 'Annuler', events_path, class: "bg-gray-500 text-indigo-100 py-2 px-4 min-w-1/3 text-center" %>
      <%= f.submit "Créer la partie", class: "py-2 px-4 min-w-1/3 bg-primary-yellow text-white py-2 font-semibold transition active:scale-95 active:bg-yellow-500 disabled:opacity-50 disabled:cursor-wait" %>
    </div>
  <% end %>
</main>
