<main class="p-4 min-h-dvh">
  <h1 class="text-3xl font-bold text-center text-white mt-8">
    <%= @event.title %>
    <br>
  </h1>
  <small class="italic text-sm text-center block text-indigo-100/80 mb-8">
    par <%= @event.user.first_name %>
  </small>

  <section id="infos_event_<%= @event.id %>" class="bg-form-green p-4">
    <div class="text-indigo-100/80">
      <div class="flex items-center gap-2">
        <%= render 'events/components/svg/calendar' %>
        <p>
          <%= human_future_date(@event.start_time) %>
        </p>
      </div>

      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
        </svg>
        <span><%= @event.location %></span>
      </div>

      <div class="flex items-center gap-2">
        <%= render 'events/components/svg/people' %>

        <%# le nombre de participant en vert %>
        <% if @event.event_participants.count < (@event.number_of_participants * 2 / 3) %>
          <span class="text-green-500">
            <%= @event.event_participants.count %> / <%= @event.number_of_participants %>
          </span>

        <%# ou le nombre de participant en jaune si il y a - de 1/3 de places dispo %>
        <% elsif @event.event_participants.count >= (@event.number_of_participants * 2 / 3) && @event.event_participants.count < @event.number_of_participants %>
          <span class="text-primary-yellow">
            <%= @event.event_participants.count %> / <%= @event.number_of_participants %>
          </span>

        <%# ou COMPLET en rouge si il n'y a plus de place %>
        <% elsif @event.event_participants.count >= @event.number_of_participants %>
          <span class="text-red-500">
            Complet
          </span>
        <% end %>
      </div>

      <div class="flex items-center gap-2">
        <%= render 'events/components/svg/dollar' %>

        <% if @event.price.zero? %>
          <span>Gratuit</span>
        <% else %>
          <span>
            <%= number_to_currency(@event.price, unit: "€", separator: ",", delimiter: " ", format: "%n %u") %>
          </span>
        <% end %>

      </div>

      <div>
        <span class="bg-form-green px-2 rounded-full text-indigo-100/80 text-xs">
          <%= render 'events/components/svg/lock' if @event.is_private %>
          <%= render 'events/components/svg/unlock' if !@event.is_private %>
        </span>
      </div>

      <p>
        <%= @event.description %>
      </p>

      <div class="flex items-center justify-end gap-2 mt-2">
        <%# fake avatar %>
        <p class="text-indigo-100/80 text-xs"><%= @event.user.first_name %></p>
        <div class="w-10 h-10 bg-gray-300 rounded-full"></div>
      </div>

    </div>
  </section>

  <section id="grid-teams" class="grid grid-cols-2 gap-4 mt-4">

    <%= render 'event_teams/components/team_1', event: @event, team_1: @team_1 %>

    <%= render 'event_teams/components/team_2', event: @event, team_2: @team_2 %>

    <%= render 'event_teams/components/bench', event: @event, bench: @bench %>

  </section>

  <% if @event.in_this_event?(current_user) %>

    <%= link_to "Quitter l'événement", event_event_participant_path([@event, ),data: {
      turbo_method: :delete,
      turbo_confirm: "Êtes-vous sûr de vouloir quitter cet événement ?"
    } %>
  <% end %>

</main>
