<main class="min-h-dvh px-4 pb-8">
  <div class="max-w-2xl mx-auto">
    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 my-8">
      <h1 class="text-3xl font-bold text-white text-center sm:text-left"><%= t("friendships.titles.index") %></h1>
      <%= link_to t("friendships.actions.search"), search_friendships_path, class: "inline-block text-center bg-primary-yellow text-white py-2 px-4 rounded-lg font-semibold hover:bg-yellow-500 transition" %>
    </div>

    <%= render "friendships/components/tabs",
          tab: @tab,
          received_count: @received_friendships.size,
          sent_count: @sent_friendships.size,
          friends_count: @accepted_friendships.size,
          declined_count: @declined_friendships.size %>

    <% case @tab %>
    <% when "received" %>
      <%= render "friendships/components/section_received", friendships: @received_friendships %>
    <% when "sent" %>
      <%= render "friendships/components/section_sent", friendships: @sent_friendships %>
    <% when "declined" %>
      <%= render "friendships/components/section_declined", friendships: @declined_friendships %>
    <% else %>
      <%= render "friendships/components/section_friends", friendships: @accepted_friendships, current_user: current_user %>
    <% end %>
  </div>
</main>
