<%= content_for :title do %>
  <%= t(".title") %>
<% end %>

<h1><%= t(".greeting", first_name: @resource.first_name) %><br><%= t(".headline") %></h1>

<p><%= t(".body") %></p>

<p style="text-align: center;">
  <%= link_to t(".cta"), confirmation_url(@resource, confirmation_token: @token), class: "btn" %>
</p>

<p style="text-align: center;"><%= t(".ignore") %></p>
<p style="text-align: center;"><%= t(".after_confirm") %></p>
