<%= content_for :title do %>
  <%= t(".title") %>
<% end %>

<h1><%= t(".greeting", first_name: @resource.first_name) %><br><%= t(".headline") %></h1>

<p><%= t(".body") %></p>

<p><%= t(".instructions") %></p>

<p style="text-align: center;">
  <%= link_to t(".cta"), edit_password_url(@resource, reset_password_token: @token), class: "btn" %>
</p>

<p style="text-align: center;"><%= t(".ignore") %></p>
<p style="text-align: center;"><%= t(".unchanged") %></p>
