<%= content_for :title do %>
  <%= t(".title") %>
<% end %>

<h1><%= t(".greeting", first_name: @resource.first_name) %><br><%= t(".headline") %></h1>

<p><%= t(".body") %></p>

<p><%= t(".instructions") %></p>

<p class="action">
  <%= link_to t(".cta"), unlock_url(@resource, unlock_token: @token), class: "btn" %>
</p>

<p class="note"><%= t(".after_unlock") %></p>
