    <div class="flex flex-wrap gap-6 justify-start items-center">

      <div class="flex items-center gap-2">
        <%= render 'events/components/svg/calendar', aria_hidden: true %>
        <time datetime="<%= event.start_time.iso8601 %>" class="font-medium text-secondary-text" aria-label="Date de début">
          <%= human_future_date(event.start_time) %>
        </time>
      </div>

      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <title>Emplacement</title>
          <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
        </svg>
        <span class="font-medium text-secondary-text" aria-label="Emplacement"><%= event.location %></span>
      </div>

      <div class="flex items-center gap-2 min-w-1/3">
        <%= render 'events/components/svg/dollar', aria_hidden: true %>
        <% if event.price.zero? %>
          <span class="font-medium text-secondary-text" aria-label="Événement gratuit">Gratuit</span>
        <% else %>
          <span class="font-bold text-secondary-text" aria-label="Prix">
            <%= number_to_currency(event.price, unit: "€", separator: ",", delimiter: " ", format: "%n %u") %>
          </span>
        <% end %>
      </div>

      <div class="flex items-center gap-2 min-w-1/3">
        <span class="bg-form-green/80 px-2 py-1 rounded-full text-xs flex items-center gap-1" aria-label="Paramètre de confidentialité">
          <% if event.is_private %>
            <%= render 'events/components/svg/lock', aria_hidden: true %> Privé
          <% else %>
            <%= render 'events/components/svg/unlock', aria_hidden: true %> Public
          <% end %>
        </span>
      </div>

      <div class="w-full flex items-center gap-2">
        <%= render 'events/components/svg/people', aria_hidden: true %>

        <% if event.participants_count < (event.number_of_participants * 2 / 3) %>
          <span class="text-green-400 font-bold" aria-label="Places disponibles">
            <%= event.participants_count %> / <%= event.number_of_participants %>
          </span>
        <% elsif event.participants_count >= (event.number_of_participants * 2 / 3) && event.participants_count < event.number_of_participants %>
          <span class="text-yellow-400 font-bold" aria-label="Presque complet">
            <%= event.participants_count %> / <%= event.number_of_participants %>
          </span>
        <% elsif event.participants_count >= event.number_of_participants %>
          <span class="text-red-500 font-bold" aria-label="Complet">Complet</span>
        <% end %>

        <div data-controller="dialog" data-action="click->dialog#backdropClose">
          <dialog data-dialog-target="dialog" class="bg-gradient-to-br from-bg-green to-bg-green-2 w-11/12 min-h-1/2 rounded-2xl px-6 py-4 backdrop:bg-black/50 fixed top-1/2 left-1/2 transform -translate-1/2" aria-labelledby="dialog-title" aria-describedby="dialog-description">
            <h2 id="dialog-title" class="text-xl font-bold mb-4 text-white text-center">Inviter des amis</h2>

            <%= form_with url: event_invitations_path(event), method: :post, data: { turbo_frame: "_top" } do |form| %>
              <div id="friend-list" class="max-h-60 overflow-y-auto mb-4 space-y-2">
                <% friends_to_invite = current_user.get_my_friends_but_not_participants(event) %>
                <% if friends_to_invite.any? %>
                  <% friends_to_invite.each do |friend| %>

                    <div>
                      <%= check_box_tag "user_ids[]", friend.id, false, id: "friend_#{friend.id}", class: "hidden peer" %>

                      <label for="friend_<%= friend.id %>"
                            class="flex items-center justify-between p-2 rounded-2xl cursor-pointer bg-white/10 peer-checked:bg-gradient-to-r peer-checked:from-amber-400 peer-checked:to-amber-600">

                        <div class="flex items-center gap-2">
                          <div class="w-8 h-8 bg-indigo-100/20 rounded-full flex items-center justify-center text-secondary-text font-semibold">
                            <%= friend.first_name.first.upcase %>
                          </div>
                          <span class="text-white font-medium">
                            <%= friend.first_name %> <%= friend.last_name %>
                          </span>
                        </div>
                      </label>
                    </div>
                  <% end %>



                <% else %>
                  <p class="text-gray-400 text-sm">Aucun ami à inviter</p>
                <% end %>
              </div>

              <div id="buttons" class="grid grid-cols-2 gap-4">

                <div class="place-content-center text-center">
                  <button type="button" data-action="dialog#close" class="bg-white/20 text-white px-4 py-2 rounded-2xl shadow-md active:scale-95 transition">
                    <svg width="24" height="24" viewBox="-28 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m64 388 132-132L64 124l32-32 132 132L360 92l32 32-132 132 132 132-32 32-132-132L96 420z"/></svg>
                    <span class="sr-only">Annuler</span>
                  </button>
                </div>

                <div class="place-content-center text-center">
                  <%= form.button class: "bg-gradient-to-r from-amber-400 to-amber-600 text-white px-4 py-2 rounded-2xl shadow-md active:scale-95 transition gap-2", data: { action: "dialog#close" } do %>
                    <svg fill="#ffffff" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 14c1.381 0 2.631-.56 3.536-1.465C13.44 11.631 14 10.381 14 9s-.56-2.631-1.464-3.535C11.631 4.56 10.381 4 9 4s-2.631.56-3.536 1.465C4.56 6.369 4 7.619 4 9s.56 2.631 1.464 3.535A5 5 0 0 0 9 14m0 7c3.518 0 6-1 6-2 0-2-2.354-4-6-4-3.75 0-6 2-6 4 0 1 2.25 2 6 2m12-9h-2v-2a1 1 0 1 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0v-2h2a1 1 0 1 0 0-2"/>
                    </svg>
                    <span class="sr-only">Inviter des amis</span>
                  <% end %>
                </div>

              </div>
            <% end %>

          </dialog>

          <button type="button" data-action="dialog#open" class="place-content-center px-4 py-2 rounded-2xl bg-gradient-to-r from-amber-400 to-amber-600
                text-white shadow-md active:scale-95 transition">
            <svg fill="#ffffff" width="20" height="20" viewBox="0 0 24 24" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg"><path d="M9 14c1.381 0 2.631-.56 3.536-1.465C13.44 11.631 14 10.381 14 9s-.56-2.631-1.464-3.535C11.631 4.56 10.381 4 9 4s-2.631.56-3.536 1.465C4.56 6.369 4 7.619 4 9s.56 2.631 1.464 3.535A5 5 0 0 0 9 14m0 7c3.518 0 6-1 6-2 0-2-2.354-4-6-4-3.75 0-6 2-6 4 0 1 2.25 2 6 2m12-9h-2v-2a1 1 0 1 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0v-2h2a1 1 0 1 0 0-2"/></svg>
            <span class="sr-only">Inviter des amis</span>
          </button>
        </div>



      </div>
    </div>

    <p class="mt-4 text-secondary-text text-lg font-light">
      <%= event.description %>
    </p>

    <div class="mt-2 justify-end flex items-center space-x-4 text-secondary-text">
      <legend class="self-center" aria-label="Organisateur">
        Organisé par <%= event.user == current_user ? "Moi" : event.user.first_name %>
      </legend>
      <% if event.am_i_the_author?(current_user) %>
        <%= render "events/components/edit_event_btn", event: event %>
      <% end %>
    </div>
