<%= form_with model: beta_tester, class: "max-w-md mx-auto mt-8 space-y-2" do |form| %>

  <div>
    <%= form.label :first_name, "Prénom", class: "block text-secondary-text mb-2" %>
    <%= form.text_field :first_name, class: "form-text-input" %>
  </div>
  <div>
    <%= form.label :last_name, "Nom de famille", class: "block text-secondary-text mb-2" %>
    <%= form.text_field :last_name, class: "form-text-input" %>
  </div>
  <div>
    <%= form.label :email, "Email", class: "block text-secondary-text mb-2" %>
    <%= form.email_field :email, class: "form-text-input" %>
  </div>
  <div class="mb-4">
    <%= form.label :phone, "Téléphone", class: "block text-secondary-text mb-2" %>
    <%= form.telephone_field :phone, class: "form-text-input" %>
  </div>

  <div class="mb-4">
    <%= form.label :favorite_social_network, "Ton réseau social préféré (on te tiendra au courant des dernières nouveautés)",
                  class: "block text-secondary-text mb-2" %>

    <div class="grid grid-cols-3 gap-2 justify-items-center items-center">
      <% ["Snapchat", "Facebook", "Telegram", "Whatsapp", "Twitter", "Instagram"].each do |network| %>
      <label class="cursor-pointer flex flex-col items-center">
        <%= form.radio_button :favorite_social_network, network, class: "hidden peer" %>
        <span class="px-4 py-2 border-2 border-form-green text-secondary-text
              bg-black/25 transition
              peer-checked:bg-form-green peer-checked:border-primary-yellow peer-checked:text-white block opacity-60 peer-checked:opacity-100">
        <%= render "pages/components/svg/social_networks/#{network.downcase}" %>
        </span>
        <span class="sr-only"><%= network %></span>
      </label>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.label :social_network_name, "Ton nom sur ce réseau", class: "block text-secondary-text mb-2" %>
    <%= form.text_field :social_network_name, class: "form-text-input" %>
  </div>

  <div>
    <%= form.label :age, "Âge", class: "block text-secondary-text mb-2" %>

    <div class="relative">
      <%= form.number_field :age,
            class: "w-full bg-black/25 px-4 py-2 pr-12 border-2 border-form-green text-secondary-text focus:outline-none focus:border-transparent focus:ring-2 focus:ring-primary-yellow outline-none transition-all" %>

      <span class="absolute inset-y-0 right-3 flex items-center text-indigo-100/60 text-sm">
        ans
      </span>
    </div>
  </div>

  <div class="mt-6">
    <%= form.submit "Rejoindre la bêta!", class: "w-full gap-2 flex justify-center items-end bg-primary-yellow text-white py-2 font-semibold transition active:scale-95 active:bg-yellow-500 disabled:opacity-50 disabled:cursor-wait", data: { turbo_submits_with: "Envoi..." } %>
  </div>

<% end %>

<%# render "beta_testers/form/new", beta_tester: @beta_tester %>
